{% assign author = site.author %}

<div itemscope itemtype="https://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}" width="300" height="300">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio">{{ author.bio }}</p>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li><div style="white-space: normal; margin-bottom: 1em;">{{ site.description }}</div></li>
      <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
    </ul>

    <div class="author__urls_sm">
      <a href="mailto:{{ author.email }}" aria-label="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
      <a href="https://github.com/{{ author.github }}" aria-label="Github"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      <a href="{{ author.googlescholar }}" aria-label="Google Scholar"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
