<title>{{ site.title }} - Homepage</title>
<meta name="description" content="{{ site.description | escape }}">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
<meta property="og:locale" content="en">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ site.title | escape }}">
<meta property="og:description" content="{{ site.description | escape }}">
<meta property="og:url" content="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
